* {
	font-family:"Open Sans", sans-serif;
	font-size: 12px;
}

/* ----- create-invoice.php ----- */

body#CreateInvoice {
	background-color: #ECF0F1
}
	
/* Header */

#Content {
	width: 20px;
	min-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#Title {
	font-size: 72px;
}

#SubHeader {
	margin-top: -15px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 16px;
}

#DateDisplay {
	position: relative;
	left: 5%;
}

img.ui-datepicker-trigger {
	position: relative;
	left: 5%;
	width: 24px;
	margin-bottom: -6px;
}

img.ui-datepicker-trigger:hover {
	cursor: hand;
	cursor: pointer;
}


div.ui-datepicker {
	font-size: 12px;
}

#CustomerName, #CustomerEmail {
	width: 100%;
	border: 1px;
	border-style: solid;
	border-color: #95A5A6;
	font-size: 16px;
}

#CustomerName {
	height: 40px;
}

#CustomerEmail {
	height: 30px;
	margin-top: 4px;
	margin-bottom: 2%;
}

/* Content */

#PriceTotals {
	position: relative;
	left: 75%;
}

td.DisplayName {
	table-layout: fixed;
	width: 80%;
	font-size: 18px;
	border: 0px;
}

/* Footer */

#SubmitInvoice {
	background-color: #16a085;
	color: #ecf0f1;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	
	height: 80px;
	min-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#SubmitInvoice:hover {
	background-color: #1ABC9C;
	cursor: hand;
	cursor: pointer;
}
